@model IEnumerable<TreenetTestProject.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.duration)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.filmID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.filmID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.filmID">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>

<form asp-action="Email">
    <label>Email Search Result</label>
    <input type="email" name="emailSender" placeholder="Email of Sender" />
    <input type="email" name="emailRecepient" placeholder="Email of recepient" />
    <input type="text" name="subject" placeholder="Email Subject">
    <input type="submit" value="Send" />
</form>
